$body-bgc: $celeste
$body-padding: spacing(2)
$page-padding: spacing(3)

body
    background-color: $body-bgc
    margin: 0 auto
    max-width: 1240px
    padding: $body-padding
    
.page
    background-color: #FFF
    padding: $page-padding

.wysiwyg
    max-width: 700px
    margin: 0 auto spacing(8)
    h3
        font-size: 18px
        color: $viridian-green
    hr
        border: none
        border-top: 1px solid $iron
        margin: spacing(2) 0
        height: 0px

+breakpoint(large)
    body
        padding: spacing(1)
    .page
        padding: spacing(1.5)

+breakpoint(small)
    body
        padding: spacing(0.5)
    .page
        padding: spacing(1)