$body-bgc: $celeste
$body-padding: spacing(2)
$page-padding: spacing(3)

body
    background-color: $body-bgc
    margin: 0 auto
    max-width: 1240px
    padding: $body-padding
    

.page
    background-color: #FFF
    padding: $page-padding