$header-border-color: $iron
$header-padding: 0 0 spacing(3)

.site-header
    +display(flex)
    +justify-content(center)
    padding: $header-padding
    border-bottom: 1px solid $header-border-color