.gallery
    margin-bottom: spacing(3)
    margin-right: spacing(-3)

    &__item
        margin-bottom: spacing(3)
        margin-right: spacing(3)
        width: calc(50% - 30px)

    &__image
        display: block
        max-width: 100%