$section-content-bgc: rgba($willow-grove, .8)
$section-content-secondary-bgc: rgba($coriander, .8)
$section-content-padding: spacing(10)
$section-content-color: $satin-linen
$section-content-secondary-color: $willow-grove
$section-content-tertiary-bgc: rgba($viridian-green, .8)

section:first-of-type .section
    margin-top: 0

.section
    margin: spacing(3) 0
    position: relative

    &--left &
        &__content
            margin-right: auto

    &--secondary &
        &__content
            background-color: $section-content-secondary-bgc
            color: $limed-ash
        &__title
            color: $finlandia

    &--tertiary &
        &__content
            background-color: $section-content-tertiary-bgc
            color: $iron
        &__title
            color: #fff

    &--right &
        &__content
            margin-left: auto

    &__media-wrapper
        +position(absolute, 0px)
        overflow: hidden

    &__media
        +position(absolute, 50% null null 50%)
        +transform(translate(-50%, -50%))
        min-height: 100%
        min-width: 100%

    &__content
        +align-items(center)
        +display(flex)
        -webkit-backdrop-filter: blur(10px)
        backdrop-filter: blur(10px)
        background-color: $section-content-bgc
        box-sizing: border-box
        color: $section-content-color
        padding: $section-content-padding
        position: relative
        width: calc(50% - 15px)
        z-index: 1

        .button
            margin-top: spacing(2)

    &__title
        color: $coriander
        font-size: 26px
        margin: 0 0 spacing(4)
        &::after
            content: ' /'

    &__copy
        margin: 0
        p
            margin: 0 0 spacing(2)

    +breakpoint(large)
        margin: spacing(1.5) 0