.selectron
    font-weight: normal

    &__trigger
        text-transform: uppercase

    &__options
        border-top: 1px solid $iron

    &__option
        &--is-hovered
            font-weight: lighter

    +breakpoint(large)
        height: 40px
        &__trigger
            height: 40px
            padding: 9px 50px 8px 10px
        &--is-touch &
            &__select
                padding: 9px 50px 8px 10px